/* Стилизация аккордеона */ 
*{
    margin: 0;
    padding: 0;
}
.accordion__details .accordion__item::-webkit-details-marker {
  display: none;
}
.accordion__item {
    margin: 24px 419px 24px 32px;
    list-style: none;/* убрал стрелку в google*/
}
.accordion {
      width: 579px;
      height: 72px;
      font-family: 'Inter' Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
}
      
.accordion:last-child {
    margin-bottom: 0;
}
.accordion__details{
    border: 1px solid var(--black);
    border-radius: 8px;
    height: auto;
    margin: 8px auto;
    
}
.accordion__content{
    margin: 16px 32px 32px;
    height: auto;
    text-align: left;
}
 /* .accordion__details .accordion__item::after {
    content: url(./img/Vector.jpg); новая иконка
   color: #696f7c;
   margin: 8px;
}
.accordion__details[open] .accordion__item::after {
    content: url(./img/Vector\ \(2\).jpg);
    color: #696f7c;
    height: auto;
    
  }  */
 
 
