/* Стилизация аккордеона */ 

.accordion__item::-webkit-details-marker {
  display: none;
}
.accordion__item {
    padding: 24px 419px 24px 32px;
    list-style: none;/* убрал стрелку в google*/
}
.accordion {
      font-family: 'Inter' Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px;
}
      
.accordion:last-child {
    margin-bottom: 0;
}
.accordion__details{
    border: 1px solid var(--black);
    border-radius: 8px;
    height: auto;
    
}
.accordion__content{
    padding: 0 32px 32px;
    height: auto;
    text-align: left;
    margin: 0;
}
 /* .accordion__details .accordion__item::after {
    content: url(./img/Vector.jpg); новая иконка
   color: #696f7c;
   margin: 8px;
} */
.accordion__details[open] .accordion__item::after {
    margin: 0;
    padding: 24px 419px 16px 32px;;
    
  } 
 
 
