.toggler {
  display: flex;
  align-items: center;
  
  gap: 12px;
}
.toggler__checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.toggler__container {
  display: inline-block;
  box-sizing: border-box;
  width: 52px;
  height: 28px;
  border: 1px solid var(--grey-2);
  border-radius: 16px;
  padding: 1px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.toggler__slider {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 16px;
  background-color: var(--grey-2);
  transition: all 0.4s ease-out;
}
.toggler__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}
.toggler__checkbox:checked + .toggler__container {
  background: var(--blue);
  border: 1px solid var(--blue);
}
.toggler__checkbox:checked + .toggler__container > .toggler__slider {
  background-color: var(--white);
  transform: translateX(24px);
}
.toggler__checkbox:disabled + .toggler__container {
  pointer-events: none;
}
.toggler__checkbox:focus ~ .toggler__title {
  text-decoration: underline;
}
