

.skeleton{
    border: 1px solid #000;
    background-color: grey;
}
.skeleton__top{
    padding: 24px 24px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}
.skeleton__bottom{
   display: flex;
   flex-direction: column;
   padding: 24px;
   background-color: white;

}
.skeleton__circle{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: grey;
}
.skeleton__line{
    background-color: grey;
    height: 20px;
    width: 100px;
    flex-direction: column;
    margin-bottom: 8px;
}
.skeleton__line_small{
    width: 20%;
}
.skeleton__line_average{
    width: 55%;
}
.skeleton__line_big{
    width: 60%;
}
.skeleton__line_normal{
    width: 10%;
}
.position{
    flex-direction: column;
}