

.skeleton{
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    padding: 24px 24px;
}
.skeleton__top{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.skeleton__bottom{
   display: flex;
   flex-direction: column;
   padding-top: 24px;
}
.skeleton__circle{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #DDE2E5;
}
.skeleton__line{
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    height: 20px;
    margin-bottom: 8px;
    flex-grow: 1;
}
.skeleton__line_small{
    width: 20%;
}
.skeleton__line_average{
    width: 55%;
}
.skeleton__line_big{
    width: 60%;
}
.skeleton__line_normal{
    width: 10%;
}

 .line{
width: -webkit-fill-available;
padding-left: 16px;
} 